html, body
{
  height: 94.5%;
  margin: 0;
}

body
{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1500' height='1000' preserveAspectRatio='none' viewBox='0 0 1500 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1287%26quot%3b)' fill='none'%3e%3crect width='1500' height='1000' x='0' y='0' fill='rgba(21%2c 67%2c 96%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c336.165C84.12%2c355.1%2c177.403%2c435.446%2c248.387%2c386.497C320.235%2c336.952%2c260.89%2c214.978%2c293.269%2c133.932C323.179%2c59.068%2c425.989%2c19.164%2c427.346%2c-61.443C428.697%2c-141.666%2c351.321%2c-198.275%2c299.901%2c-259.866C247.508%2c-322.623%2c199.464%2c-391.435%2c124.541%2c-424.148C44.315%2c-459.176%2c-52.338%2c-485.382%2c-131.626%2c-448.278C-210.018%2c-411.593%2c-217.114%2c-302.652%2c-274.166%2c-237.566C-331.713%2c-171.915%2c-456.08%2c-153.733%2c-465.856%2c-66.98C-475.715%2c20.51%2c-371.742%2c75.725%2c-317.262%2c144.889C-276.198%2c197.02%2c-242.437%2c254.542%2c-185.605%2c288.806C-129.794%2c322.454%2c-63.579%2c321.853%2c0%2c336.165' fill='%2314405b'%3e%3c/path%3e%3cpath d='M1500 1388.967C1571.767 1387.285 1604.502 1295.034 1667.569 1260.743 1738.217 1222.33 1836.483 1238.626 1888.811 1177.564 1943.7930000000001 1113.405 1965.571 1018.069 1945.967 935.88 1926.739 855.266 1853.513 800.809 1787.118 751.211 1730.87 709.194 1660.298 701.616 1595.663 674.201 1520.307 642.238 1456.841 565.845 1375.711 576.71 1293.995 587.653 1238.7930000000001 664.6469999999999 1187.144 728.909 1137.007 791.289 1079.789 860.194 1083.616 940.133 1087.351 1018.149 1160.0140000000001 1071.283 1206.541 1134.018 1243.2060000000001 1183.456 1280.842 1228.35 1327.306 1268.717 1381.353 1315.672 1428.425 1390.644 1500 1388.967' fill='%23164665'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1287'%3e%3crect width='1500' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-size: cover;
  	background-repeat: no-repeat;
}

.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}
